<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home / Hype</title>
    <link rel="stylesheet" href="stylesheets/otherStyles.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"></script>
    <style>
      html,
      body {
        height: 100%;
        min-height: 100vh;
        width: 100%;
        overflow-x: hidden;
        background: linear-gradient(135deg, #000000 0%, #0a1f44 100%);
      }
    </style>
  </head>
  <body class="text-white p-3">
    <div class="navbar py-5 px-4 flex justify-between items-center">
      <h1 class="text-3xl tracking-normal font-bold">User Profile</h1>
      <!-- <a href="/logout/<%= user.email %>" class="bg-red-500 px-3 py-1 rounded-md">Logout</a> -->
      <div class="flex items-center h-full">
        <a href="/profile">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"
            class="cursor-pointer w-7 h-7 mx-10 text-black fill-current"
          >
            <path
              fill=" #0066ff"
              d="M341.8 72.6C329.5 61.2 310.5 61.2 298.3 72.6L74.3 280.6C64.7 289.6 61.5 303.5 66.3 315.7C71.1 327.9 82.8 336 96 336L112 336L112 512C112 547.3 140.7 576 176 576L464 576C499.3 576 528 547.3 528 512L528 336L544 336C557.2 336 569 327.9 573.8 315.7C578.6 303.5 575.4 289.5 565.8 280.6L341.8 72.6zM304 384L336 384C362.5 384 384 405.5 384 432L384 528L256 528L256 432C256 405.5 277.5 384 304 384z"
            />
          </svg>
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"
            class="cursor-pointer w-7 h-7 mx-10 text-black fill-current"
          >
            <path
              fill=" #0066ff"
              d="M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z"
            />
          </svg>
        </a>
        <a href="/notifications">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"
            class="cursor-pointer w-7 h-7 mx-10 text-black fill-current"
          >
            <path
              fill=" #0066ff"
              d="M320 64C302.3 64 288 78.3 288 96L288 99.2C215 114 160 178.6 160 256L160 277.7C160 325.8 143.6 372.5 113.6 410.1L103.8 422.3C98.7 428.6 96 436.4 96 444.5C96 464.1 111.9 480 131.5 480L508.4 480C528 480 543.9 464.1 543.9 444.5C543.9 436.4 541.2 428.6 536.1 422.3L526.3 410.1C496.4 372.5 480 325.8 480 277.7L480 256C480 178.6 425 114 352 99.2L352 96C352 78.3 337.7 64 320 64zM258 528C265.1 555.6 290.2 576 320 576C349.8 576 374.9 555.6 382 528L258 528z"
            />
          </svg>
        </a>
        <a href="/userProfile">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"
            class="cursor-pointer w-7 h-7 mx-10 text-black fill-current"
          >
            <path
              fill=" #0066ff"
              d="M320 312C386.3 312 440 258.3 440 192C440 125.7 386.3 72 320 72C253.7 72 200 125.7 200 192C200 258.3 253.7 312 320 312zM290.3 368C191.8 368 112 447.8 112 546.3C112 562.7 125.3 576 141.7 576L498.3 576C514.7 576 528 562.7 528 546.3C528 447.8 448.2 368 349.7 368L290.3 368z"
            />
          </svg>
        </a>
      </div>
    </div>

    <div
      class="profile  max-w-200 p-5 h-auto flex-col border-none border-white relative justify-center items-center"
    >
      <div class="im w-full h-50 mb-20 relative">
        <img
          class="cover-img w-full h-full object-cover rounded-xl"
          src="https://pbs.twimg.com/profile_banners/1914729354883387392/1745591290/1080x360"
          alt=""
        />
        <img
          class="pfp-img border-5 border-black h-35 w-35 rounded-full absolute"
          style="bottom: -4rem; left: 1rem"
          src="https://imgs.search.brave.com/exAv0ZlY9QOXhZ1WYBDY-W0yOiYg78M_XHx-tMaV5b4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2U1Lzll/LzUxL2U1OWU1MWRj/YmJhNDc5ODVhMDEz/NTQ0NzY5MDE1ZjI1/LmpwZw"
          alt=""
        />
      </div>
      <button class="edit-btn absolute rounded-2xl p-1 h-auto w-25 bg-white text-black border-none font-bold" style="right: 5rem; top: 13rem"
        ><a href="">Edit Profile</a></button>
      <div>
        <div class="flex items-center gap-2">
          <h3 class="font-bold text-2xl"><%= user.name %></h3>
          <img class="h-4 w-4 object-cover" src="https://imgs.search.brave.com/-50saQ_7a9I-vK4j_V-5p1DaCCfhml8iIrvH290YfGk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91eHdp/bmcuY29tL3dwLWNv/bnRlbnQvdGhlbWVz/L3V4d2luZy9kb3du/bG9hZC9hcnRzLWdy/YXBoaWMtc2hhcGVz/L3ZlcmlmaWVkLXN5/bWJvbC1pY29uLnBu/Zw" alt="">
          <!-- <div class="badge flex items-center gap-2">
            <h4 class="text-sm text-zinc-400">Verified</h4>
            <img class="h-4 w-4 object-cover" src="https://imgs.search.brave.com/-50saQ_7a9I-vK4j_V-5p1DaCCfhml8iIrvH290YfGk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91eHdp/bmcuY29tL3dwLWNv/bnRlbnQvdGhlbWVz/L3V4d2luZy9kb3du/bG9hZC9hcnRzLWdy/YXBoaWMtc2hhcGVz/L3ZlcmlmaWVkLXN5/bWJvbC1pY29uLnBu/Zw" alt="">
          </div> -->
        </div>
        <h5 class="text-sm text-zinc-400 mb-3"><%= user.email %></h5>
      </div>

      <h4 class="max-w-100 mb-8">Just a tech freak 😇</h4>

      <div class="badges items-center mb-8 w-full h-auto flex">
        <div class="h-full min-w-50 flex gap-2">
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640"
          >
            <!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path
              fill="#ffffff"
              d="M224 64C241.7 64 256 78.3 256 96L256 128L384 128L384 96C384 78.3 398.3 64 416 64C433.7 64 448 78.3 448 96L448 128L480 128C515.3 128 544 156.7 544 192L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 192C96 156.7 124.7 128 160 128L192 128L192 96C192 78.3 206.3 64 224 64zM160 304L160 336C160 344.8 167.2 352 176 352L208 352C216.8 352 224 344.8 224 336L224 304C224 295.2 216.8 288 208 288L176 288C167.2 288 160 295.2 160 304zM288 304L288 336C288 344.8 295.2 352 304 352L336 352C344.8 352 352 344.8 352 336L352 304C352 295.2 344.8 288 336 288L304 288C295.2 288 288 295.2 288 304zM432 288C423.2 288 416 295.2 416 304L416 336C416 344.8 423.2 352 432 352L464 352C472.8 352 480 344.8 480 336L480 304C480 295.2 472.8 288 464 288L432 288zM160 432L160 464C160 472.8 167.2 480 176 480L208 480C216.8 480 224 472.8 224 464L224 432C224 423.2 216.8 416 208 416L176 416C167.2 416 160 423.2 160 432zM304 416C295.2 416 288 423.2 288 432L288 464C288 472.8 295.2 480 304 480L336 480C344.8 480 352 472.8 352 464L352 432C352 423.2 344.8 416 336 416L304 416zM416 432L416 464C416 472.8 423.2 480 432 480L464 480C472.8 480 480 472.8 480 464L480 432C480 423.2 472.8 416 464 416L432 416C423.2 416 416 423.2 416 432z"
            />
          </svg>
          <p>Joined April 2025</p>
        </div>
      </div>

      <div class="follow flex mb-10 gap-5">
        <div class="followers flex gap-1">
          <p class="font-bold">1.8K</p>
          <p class="text-gray-500">followers</p>
        </div>
        <div class="following flex gap-1">
          <p class="font-bold">20</p>
          <p class="text-gray-500">following</p>
        </div>
      </div>

      <div class="w-full h-10 flex justify-between">
        <a class="link w-full text-xl m-0 px-5 py-1 bg-transparent transition-colors duration-150 hover:bg-gray-900 hover:text-white active:bg-gray-700 active:text-white flex items-center justify-center" href="">Posts</a>
        <a class="link w-full text-xl m-0 px-5 py-1 bg-transparent transition-colors duration-150 hover:bg-gray-900 hover:text-white active:bg-gray-700 active:text-white flex items-center justify-center" href="">Replies</a>
        <a class="link w-full text-xl m-0 px-5 py-1 bg-transparent transition-colors duration-150 hover:bg-gray-900 hover:text-white active:bg-gray-700 active:text-white flex items-center justify-center" href="">Likes</a>
      </div>

    </div>
  </body>
</html>
