@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body, html{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    padding: 0.5rem;
    background: rgb(0, 0, 0);
}

@media (max-width: 600px) {
  body, html {
    height: 100vh;
    width: 100vw;
    font-size: 15px;
    overflow-x: hidden;
    margin: 0;
    padding: 0.2rem;
  }

  .navbar {
    flex-direction: column !important;
    gap: 2rem !important;
    height: auto !important;
    padding: 0.5rem !important;
  }

  .post-container{
    height: 15rem !important;
    width: 100% !important;
    border: 1px solid #ccc !important;
  }

  .post-btn{
    height: auto;
    width: 5rem;
  }

  textarea{
    font-size: 18px;
    width: 100%;
    height: 75%;
    border-radius: 0px;
    border-bottom: 1px solid white;
  }

  .content-posting {
    height: 100%;
    width: 100%;
  }
}


